.btn{
    text-align: center;
    margin-top: 20px;
}
.fields{
    padding: 20px 20px;
}
.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.items{
    background-color: aqua;
    border-style: none;
}